body{
    background-color: gray;
    color: white;
    font-family: monospace;
}

.tablica1{
    max-width: 400px;
    border: 3px solid crimson;
    color: rgb(255, 255, 255);
}

.lokacije{
    border: 3px solid crimson;
    color: rgb(255, 255, 255);
    margin: 0 auto;
}

th, td{
    border: 1px solid crimson;
    padding: 20px;
    text-align: left;
}

.desk{
    max-width: 900px;
    background-color: rgb(104, 104, 16);
}

.mezukit{
    background-color: rgb(87, 17, 17);
}

.mezuk{
    max-width: 900px;
    background-color: rgb(87, 17, 17);
    margin: 0 auto;
    padding: 24px;
}

.okvir1{
    max-width: 1700px;
    background-color: rgb(12, 12, 104);
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding: 12px;
}

